:host {
  display: contents;
}

.product {
  border-radius: 0.5rem;
  background-color: var(--c-elevation-1);
  padding: 1rem;

  &__header {
    display: grid;
    grid-template-columns: 48px 1fr;
    gap: 1rem;
    align-items: center;
  }

  &__icon {
    img {
      width: 100%;
    }
  }

  &__name {
    font-weight: bold;
    font-size: 1.2rem;

    span {
      display: block;
      font-weight: normal;
      font-size: 0.9rem;
      opacity: 0.5;
    }
  }

  &__order {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  &__amount-select {
    border-radius: 0.5rem 0 0 0.5rem;
    background-color: var(--c-elevation-1);
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
  }
  &__amount-minus,
  &__amount-plus {
    padding: 0.5rem;
    cursor: pointer;
  }
  &__amount-value {
    text-align: center;
  }
  &__buy {
    background-color: var(--c-accent);
    padding: 0.5rem 0;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    border-radius: 0 0.5rem 0.5rem 0;
  }
}
