:host {
  display: contents;
}

.product {
  border-radius: 0.5rem;
  background-color: var(--c-elevation-1);
  padding: 1rem;

  &__header {
    display: grid;
    grid-template-columns: 48px 1fr;
    gap: 1rem;
    align-items: center;
  }

  &__icon {
    img {
      width: 100%;
    }
  }

  &__name {
    font-weight: bold;
    font-size: 1.2rem;

    span {
      display: block;
      font-weight: normal;
      font-size: 0.9rem;
      opacity: 0.5;
    }
  }
}
