:host {
  display: contents;
}

.cart {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 48px;
  height: 48px;

  &__button {
    width: 48px;
    height: 48px;
    background-color: var(--c-accent);
    border-radius: 50%;
    cursor: pointer;
  }

  &__content {
    position: absolute;
    bottom: calc(48px + 1rem);
    right: 0;
    background-color: var(--c-elevation-1);
    padding: 1rem;
    border-radius: 0.5rem;
    width: max-content;

    table {
      border-collapse: collapse;

      tr {
        &:nth-child(odd) {
          background-color: var(--c-elevation-2);
        }

        th,
        td {
          padding: 0.5rem 1rem;
          text-align: left;
        }
      }
    }
  }

  &__item-count {
    position: absolute;
    height: 1.5rem;
    aspect-ratio: 1 / 1;
    display: grid;
    place-items: center;
    transform: translate(50%, -50%);
    color: #fff;
    font-size: 0.75rem;
    font-weight: 900;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: red;
    top: 0;
    right: 0;
  }
}

@media screen and (max-width: 768px) {
  .cart {
    bottom: calc(var(--menubar-height) + 1rem);
  }
}
