:host {
  display: contents;
}

.sidebar {
  grid-area: sidebar;
  background-color: rgba(#fff, 0.05);
  color: #ffffff;
  padding: 1rem;
}

@media screen and (max-width: 768px) {
  .sidebar {
    display: grid;
    padding: 0;
  }
}
