:host {
  display: contents;
}

.sidebar {
  grid-area: sidebar;
  background-color: rgba(#fff, 0.05);
  color: #ffffff;
  padding: 1rem;
}

.topbar {
  &__title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .sidebar {
    display: grid;
    padding: 0;
  }
}
