:host {
  display: contents;
}

.navigation {
  .navigation__item {
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;

    &--active {
      background-color: var(--c-elevation-1);
    }

    fa-icon {
      display: inline-block;
      width: 48px;
      height: 48px;
      line-height: 48px;
      text-align: center;
    }

    &:hover {
      background-color: var(--c-elevation-1);
    }
  }
}

@media screen and (max-width: 768px) {
  .navigation {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: var(--menubar-height);
    background-color: var(--c-elevation-1);
    display: flex;
    flex-direction: columns;
    justify-content: center;

    &__item {
      span:nth-child(2) {
        display: none;
      }
    }
  }
}
